{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".ls",
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          "node_modules",
          ".*",
          "bower_components",
          "prepros.config",
          "Prepros Export",
          "prepros-6.config",
          "prepros.cfg",
          "wp-admin",
          "wp-includes"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "config.rb",
          "prepros.config",
          "prepros-6.config",
          "node_modules",
          "Prepros Export",
          ".git",
          ".idea",
          ".sass-cache",
          ".hg",
          ".svn",
          ".cache",
          ".DS_Store",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.ls",
          "*.kit",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "public_html/alpac/",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "sftp",
      "history": [
        {
          "file": "404.html",
          "ctimeMs": 1580919667004,
          "mtimeMs": 1574195646000
        },
        {
          "file": "css/core.css",
          "mtimeMs": 1582309679919.7026,
          "ctimeMs": 1582309679919.7026,
          "date": "2020-02-21T18:28:05.011Z"
        },
        {
          "file": "css/_includes/bulma/css/bulma.css",
          "ctimeMs": 1579015233308,
          "mtimeMs": 1575042879160
        },
        {
          "file": "css/_includes/bulma/css/bulma.css.map",
          "ctimeMs": 1579015233317,
          "mtimeMs": 1575042878854
        },
        {
          "file": "css/_includes/bulma/css/bulma.min.css",
          "ctimeMs": 1579015233315,
          "mtimeMs": 1575042879453
        },
        {
          "file": "css/_includes/bulma/css/elements/form.css",
          "ctimeMs": 1579015233312,
          "mtimeMs": 1578258400000
        },
        {
          "file": "favicon.ico",
          "ctimeMs": 1579016381647,
          "mtimeMs": 1574186508000
        },
        {
          "file": "img/.gitignore",
          "ctimeMs": 1579016382522,
          "mtimeMs": 1574186508000
        },
        {
          "file": "index.php",
          "ctimeMs": 1580408840959,
          "mtimeMs": 1580408840959
        },
        {
          "file": "js/main.js",
          "ctimeMs": 1580919182380,
          "mtimeMs": 1580919182380
        },
        {
          "file": "js/plugins.js",
          "ctimeMs": 1580404250874,
          "mtimeMs": 1580404250874
        },
        {
          "file": "js/vendor/jquery-3.4.1.min.js",
          "ctimeMs": 1579016385568,
          "mtimeMs": 1574186498000
        },
        {
          "file": "js/vendor/modernizr-3.8.0.min.js",
          "ctimeMs": 1579016385565,
          "mtimeMs": 1574202880000
        },
        {
          "file": "robots.txt",
          "ctimeMs": 1579016381658,
          "mtimeMs": 1574186508000
        },
        {
          "file": "template/index.php",
          "ctimeMs": 1579019891003,
          "mtimeMs": 1579017598224
        },
        {
          "file": "template/header.php",
          "ctimeMs": 1580914212761,
          "mtimeMs": 1580914212761
        },
        {
          "file": "template/footer.php",
          "ctimeMs": 1580419931898,
          "mtimeMs": 1580419931898
        },
        {
          "file": "introduction.php",
          "ctimeMs": 1579020444671,
          "mtimeMs": 1579020444671
        },
        {
          "file": "css/core.scss",
          "ctimeMs": 1580918926663,
          "mtimeMs": 1580918926663
        },
        {
          "file": "css/_includes/_variables.scss",
          "ctimeMs": 1579301070477,
          "mtimeMs": 1579301070477
        },
        {
          "file": "css/_includes/_header.scss",
          "mtimeMs": 1582309678242.7966,
          "ctimeMs": 1582309678242.7966,
          "date": "2020-02-21T18:28:03.558Z"
        },
        {
          "file": "img/alpac-logo.svg",
          "ctimeMs": 1579121455448,
          "mtimeMs": 1579121271417
        },
        {
          "file": "css/_includes/vendors/_hamburgers.scss",
          "ctimeMs": 1579559115622,
          "mtimeMs": 1579559115622
        },
        {
          "file": "img/alpac-logo-bottom-01.svg",
          "ctimeMs": 1579121952122,
          "mtimeMs": 1579121952111
        },
        {
          "file": "img/alpac-logo-top-01.svg",
          "ctimeMs": 1579121919127,
          "mtimeMs": 1579121919117
        },
        {
          "file": "img/treeline-illustration-01.svg",
          "ctimeMs": 1579130468821,
          "mtimeMs": 1579130439306
        },
        {
          "file": "template/sprite.svg.php",
          "ctimeMs": 1579181652945,
          "mtimeMs": 1573230814000
        },
        {
          "file": "js/main-min.js",
          "ctimeMs": 1579182810348,
          "mtimeMs": 1579182810348
        },
        {
          "file": "js/main.min.js",
          "ctimeMs": 1580919742258,
          "mtimeMs": 1580919742258
        },
        {
          "file": "img/Home-Header-Trees.jpg",
          "ctimeMs": 1579191298761,
          "mtimeMs": 1579191263181
        },
        {
          "file": "css/_includes/_typography.scss",
          "ctimeMs": 1579732799713,
          "mtimeMs": 1579732799713
        },
        {
          "file": "css/_includes/_typequeries.scss",
          "ctimeMs": 1579730910968,
          "mtimeMs": 1579730910968
        },
        {
          "file": "img/placeholder-portrait.jpg",
          "ctimeMs": 1579550265140,
          "mtimeMs": 1579192749000
        },
        {
          "file": "img/placeholder-landscape.jpg",
          "ctimeMs": 1579192722031,
          "mtimeMs": 1579192658461
        },
        {
          "file": "css/_includes/bulma/sass/grid/columns.sass",
          "ctimeMs": 1579193648171,
          "mtimeMs": 1579193648171
        },
        {
          "file": "img/trees-divide-white.svg",
          "ctimeMs": 1579194512752,
          "mtimeMs": 1579194233641
        },
        {
          "file": "img/trees-divide-grey.svg",
          "ctimeMs": 1579194512717,
          "mtimeMs": 1579194215174
        },
        {
          "file": "img/abmi-logo.svg",
          "ctimeMs": 1579196799421,
          "mtimeMs": 1579196708859
        },
        {
          "file": "human-footprint.php",
          "ctimeMs": 1580913881263,
          "mtimeMs": 1580913881263
        },
        {
          "file": "img/content/SampleSVG.svg",
          "ctimeMs": 1579550273696,
          "mtimeMs": 1579550242671
        },
        {
          "file": "human-footprint copy.php",
          "ctimeMs": 1579722395681,
          "mtimeMs": 1579559846000
        },
        {
          "file": "section-3-1.php",
          "ctimeMs": 1580919144422,
          "mtimeMs": 1580919144422
        },
        {
          "file": "css/_includes/bulma/sass/elements/content.sass",
          "ctimeMs": 1579733090874,
          "mtimeMs": 1579733090874
        },
        {
          "file": "img/SampleFeature.png",
          "ctimeMs": 1580911950687,
          "mtimeMs": 1579733232000
        },
        {
          "file": "reporting-area.php",
          "ctimeMs": 1580915620598,
          "mtimeMs": 1580915620598
        },
        {
          "file": "img/FMA-map.svg",
          "ctimeMs": 1580401452307,
          "mtimeMs": 1580401430934
        },
        {
          "file": "img/content/FMA-map.svg",
          "ctimeMs": 1580401518848,
          "mtimeMs": 1580401430934
        },
        {
          "file": "img/content/FSC-Logo.svg",
          "ctimeMs": 1580402585893,
          "mtimeMs": 1580402256886
        },
        {
          "file": "img/content/logo-abinnovates.jpg",
          "ctimeMs": 1580419759650,
          "mtimeMs": 1580419745676
        },
        {
          "file": "img/content/logo-ram.jpg",
          "ctimeMs": 1580419759654,
          "mtimeMs": 1580419680592
        },
        {
          "file": "img/content/logo-ualberta.jpg",
          "ctimeMs": 1580419759657,
          "mtimeMs": 1580419690903
        },
        {
          "file": "img/content/logo-ucalgary.jpg",
          "ctimeMs": 1580911408039,
          "mtimeMs": 1580419731000
        },
        {
          "file": "section-alt.php",
          "ctimeMs": 1580913885167,
          "mtimeMs": 1580913885167
        },
        {
          "file": "img/content/Sample-SVG-Landscape.svg",
          "ctimeMs": 1580911542307,
          "mtimeMs": 1580911532126
        },
        {
          "file": "section-alt copy.php",
          "ctimeMs": 1580911968361,
          "mtimeMs": 1580911346462
        },
        {
          "file": "section-alt2.php",
          "ctimeMs": 1580913877134,
          "mtimeMs": 1580913877134
        },
        {
          "file": "css/_includes/vendors/_featherlight.scss",
          "ctimeMs": 1579880707455,
          "mtimeMs": 1579880707455
        },
        {
          "file": "css/_includes/bulma/sass/elements/container.sass",
          "ctimeMs": 1579015233434,
          "mtimeMs": 1576876537952
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 5 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-min",
          "alwaysSuffix": true
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-min",
          "alwaysSuffix": true
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "template/index.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "index.html"
        }
      },
      {
        "file": "js/main.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/main.min.js"
        }
      },
      {
        "file": "img/placeholder-portrait.jpg",
        "config": {
          "autoCompile": false,
          "compileImported": false
        }
      }
    ]
  }
}
